.audio-player {
    width: 100%;
    max-width: 375px; /* Adjust for smartphone size */
    margin: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
}

audio {
    width: 100%; /* Make audio element responsive */
}

#visualizer {
  width: 100%;
  height: 150px;
  background-color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar-wrapper {
  height: 300px;
  position: relative;
}
.bar {
  position: relative;
  bottom: 0;
  width: 5px;
  display: inline-block;
  border: 1px solid red;
  height: 5px;
  border-bottom: 3px solid #fff;
}